.page-header
  .inside
    h1 Create A Lesson

.row
  .span8.offset4
    .inside
      form(action='/create-lesson', method='POST').form-stacked#form
        .clearfix#titlefix
          label(for='title') Lesson Title*
          input(type='text', name='title')#title.error.span7
          span.help-block#titlehelp
        .clearfix#tagsfix
          label(for='tags') Tags (Subjects)
          input(name='tags')#tags.error
          span.help-block#tagshelp
        .clearfix#descfix
          label(for='desc') Description
          textarea(name='desc', rows=4, cols=50)#desc.error.span7
          span.help-block#deschelp
        .clearfix#locfix
          label(for='loc') Location*
          input(name='loc')#loc.error.span7
          span.help-block#lochelp
        .clearfix
          input(type='submit', value="Submit").btn.primary.span7
        .clearfix#submitfix
          span.help-block#submithelp



script(type='text/javascript')
    $(function() {
        $('#title').focus();

        $('#tags').tagit({
            availableTags: [#{allTags}]
        });

        var titleRegex = /^.{1,50}$/;
        var tagsRegex = /^([a-zA-Z0-9\-]{0,15})?((,([a-zA-Z0-9\-]{0,15})){0,4})$/; 
        var descRegex = /^.{0,750}$/;
        var locRegex = /^.+$/;

    $('#title').focusout(function() {
      if(titleRegex.test($(this).val())) {
        $('#titlehelp').text("");
        $('#titlefix').removeClass('error');
        $('#titlefix').addClass('success');
      } else {
        $('#titlehelp').text("Title is required and cannot exceed 50 characters");
        $('#titlefix').removeClass('success');
        $('#titlefix').addClass('error');
      }
    });
    

    $('.tagit').focusout(function() {
      if(tagsRegex.test($('#tags').val())) {
        $('#tagshelp').text("");
        $('#tagsfix').removeClass('error');
        $('#tagsfix').addClass('success');
      } else {
        $('#tagshelp').text("Max of 5 tags, 15 characters each.");
        $('#tagsfix').removeClass('success');
        $('#tagsfix').addClass('error');
      }
    });

    $('#desc').focusout(function() {
      if(descRegex.test($(this).val())) {
        $('#deschelp').text("");
        $('#descfix').removeClass('error');
        $('#descfix').addClass('success');
      } else {
        $('#deschelp').text("Description cannot exceed 750 characters");
        $('#descfix').removeClass('success');
        $('#descfix').addClass('error');
      }
    });

    $('#loc').focusout(function() {
      if(locRegex.test($(this).val())) {
        $('#lochelp').text("");
        $('#locfix').removeClass('error');
        $('#locfix').addClass('success');
      } else {
        $('#lochelp').text("Must provide a location");
        $('#locfix').removeClass('success');
        $('#locfix').addClass('error');
      }
    });

    $('#form').submit(function() {
      if(titleRegex.test($('#title').val()) &&
         descRegex.test($('#desc').val()) &&
         locRegex.test($('#loc').val()) &&
         tagsRegex.test($('#tags').val())) {
            return true;
       } else { 
        $('#submitfix').addClass('error');
        $('#submithelp').text("Invalid form, please check your inputs and try again.");
        return false;
      }
    });

    });
