h2 Create A Lesson


form(action='/create-lesson', method='POST')
  p
    label(for='title') Lesson Title
    input(type='text', name='title')#title
  p
    label(for='tags') Tags (Subjects)
    input(name='tags', id='tagstest')
  p
    label(for='desc') Description
    textarea(name='desc', rows=4, cols=50)#desc
  p
    label(for='contact') Contact Info
    ~#TODO
  p
    input(type='submit', value="Submit")



script(type='text/javascript')
    $(function() {
        $('#tagstest').tagit({
            availableTags: [#{allTags}]
        });
    });
