h2= user.name.full

form(action='/user/edit-profile', method='POST')
  p
    label(for='name_first') First Name
    input(type='text', name='name_first', value= user.name.first)#name_first
  p
    label(for='name_last') Last Name
    input(type='text', name='name_last', value= user.name.last)#name_last
  p
    label(for='email') E-mail 
    input(type='text', name='email', value= user.email)#email
  p
    label(for='interests') Interests
    input(type='text', name='interests', value= interests)#interests
  p
    label(for='expertise') Expertise
    input(type='text', name='expertise', value=expertise)#expertise
  p
    input(type='submit', value='Save Changes')

script(type='text/javascript')
    $(function() {
        var all_tags = [#{tags}];
        $('#interests').tagit({
            availableTags: all_tags
        });
        $('#expertise').tagit({
            availableTags: all_tags
        });
    });
