h1 Cambyar
p Welcome #{name}
if loggedIn
  a(href='/logout', title='Leave us') Logout
else
  p 
    a(href='/register', title='Registration Page') Register
  p 
    a(href='/login', title='Login Page') Login
