.page-header
  .inside
    h1 Welcome! 
      small Lesson Learned. 
.row
  .span8.offset4
    .inside
      h2
        strong What do you want to learn?
      br
      form(action='/search', method='GET')
        input(type='text', name='q').input-xlarge#search_bar
        input(type='submit', value='Search').btn.primary
