.page-header
  h1 Welcome! 
    small Lesson Learned. 
.row
  .span16
   if req.loggedIn
      p
        a(href='/create-lesson', title='Makin lessons') Create Lesson
    p
      a(href='/search', title='Search fa shit') Search
