!!!
html
  head
    title Cambyar
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      ul
        if req.loggedIn                                                                      
          li                                                                       
            img(src=email_hash + '?s=30')                                                          
          li
            #{user.name.first}
          li                                                                              
            a(href='/logout', title='Leave us') Logout                                   
        else                                                                             
          li                                                                              
            a(href='/register', title='Registration Page') Register                      
          li                                                                              
            a(href='/login', title='Login Page') Login                                   

  #body!= body
