!!!
html
  head
    title Cambyar
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css')  
    link(rel='stylesheet', type='text/css', href='/tagit/css/jquery.tagit.css')
    link(rel='stylesheet', type ='text/css', href='/tagit/css/tagit.ui-zendesk.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js', type='text/javascript', charset='utf-8')
    script(src='/tagit/js/tagit.js', type='text/javascript', charset='utf-8')

  body
    .topbar
      ul
        if req.loggedIn                                                                      
          li                                                                       
            img(src=email_hash + '?s=30')                                                          
          li
            a(href='/user/#{user.username}') #{user.name.first}
          li                                                                              
            a(href='/logout', title='Leave us') Logout                                   
        else                                                                             
          li                                                                              
            a(href='/register?n='+enc_url, title='Registration Page') Register                      
          li
            a(href='/login?n='+enc_url, title='Login Page') Login                                   

  #body!= body
