body {
  padding-top: 40px;
  background: #eee;
}

.topbar img  {
  padding-top: 5px;
}

.content {
  background: #fff;
  padding: 30px 0px 0px;
  outline: 1px #ddd solid;
  margin: 0 -20px;
}

.inside {
  margin-left: 20px;
}

.lesson {
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 1px solid #AAA;
}

.lesson:hover {
  margin-left: -2px;
  border-left: 2px solid #AAA;
}

.profile {
  border: 1px solid #AAA;
  padding: 5px;
}

.gravatar {
  background-color: #DDD;
  padding: 5px;
  margin-left: 15px;
  margin-top: 5px;
}

.bottombar {
  border-bottom: 1px solid #BBB;
  margin-bottom: 15px;
}

.top-right {
    float: right;
    padding-right: 40px;
}
#teachme_center {
  margin: 0 auto;
  text-align: center;
}

.right-lesson-pane {
  display: inline-block;
  text-align: center;
}

.left-lesson-pane {
  display: inline-block;
  width: 445px;
}

.vert-center{
  display: table-cell;
  vertical-align: middle;
}

.request {
  padding-left: 10px;
}

.right-request-pane {
  display: inline-block;
  text-align: center;
}

.left-request-pane {
  display: inline-block;
  width: 285px;
}
