body {
  padding-top: 40px;
  background: #eee;
}

.topbar img  {
  padding-top: 5px;
}

.content {
  background: #fff;
  padding: 30px 0px 0px;
  outline: 1px #ddd solid;
  margin: 0 -20px;
}

.inside {
  margin-left: 20px;
}

.lesson {
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  background-color: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.lesson:hover {
  background-color: #ddd;
}

.profile {
  border: 1px solid #AAA;
  padding: 5px;
}

.gravatar {
  background-color: #DDD;
  padding: 5px;
  margin-left: 15px;
  margin-top: 5px;
}

.bottombar {
  border-bottom: 1px solid #BBB;
  margin-bottom: 15px;
}

.top-right {
    float: right;
    padding-right: 40px;
}
#teachme_center {
  margin: 0 auto;
  text-align: center;
}

.right-lesson-pane {
  display: inline-block;
  text-align: center;
}

.left-lesson-pane {
  display: inline-block;
  width: 385px;
}

.vert-center{
  display: table-cell;
  vertical-align: middle;
}

.request {
  padding-left: 10px;
}

.right-request-pane {
  display: inline-block;
  text-align: center;
}

.left-request-pane {
  display: inline-block;
  width: 285px;
}

.taglink {
  background: #DEE7F8; 
  border: 1px solid #CAD8F3; 
  text-decoration: none; 
  padding: 1px; 
  cursor: pointer; 
  line-height: 22px; 
  margin: 2px; 
}
.taglink:hover {
  background: #bbcef1;
  border-color: #6d95e0;
  text-decoration: none;
}

.search-img {
  padding: 5px;
  padding-top: 10px;
}

.search-user {
  padding: 5px;
  padding-bottom: 10px;
}

.search-left {
  display: inline;
  float: left;
  margin-left: 20px;
  width: 70px;
}

.search-right {
  display: inline;
  float: left;
  margin-left: 20px;
  width: 400px;
}

.right-justify {
  float: right;
}
