body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.topbar li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
